.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-hero {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-slogan {
    text-align: center;
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
}

.hero-sub {
    text-align: center;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.hero-btn-github {
    background-color: var(--vz-primary);
    color: white;
    padding: 15px 35px;
    border-radius: 15px;
    transition: .5s;
}

.hero-btn-github:hover {
    background-color: var(--vz-primary-hover);
    transform: translateY(-5px) scale(1.05);
}

.hero-btn-explore {
    padding: 18px 35px;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    background: none;
    transition: .5s;
}

.hero-btn-explore:hover {
    border: none;
    background-color: var(--vz-primary);
    transform: translateY(-5px) scale(1.05);
}