.search-app {
    margin-top: 30px;
    background-color: #e2e8f0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 10px 24px;
    max-width: 600px;
    border-radius: 20px;
    width: 100%;
    transition: transform .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-app:hover {
    transform: translateY(-5px) scale(1.05);
}

.search-app input {
    background: none;
    border: none;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
    padding: 20px 0;
}

.search-app input:focus {
    outline: none;
}

.search-app:has(input:focus) {
    border: 3px solid var(--vz-primary);
}

.search-app svg {
    size: 10px;
    color: black;
    margin-right: 10px;
}

.search-app button {
    background-color: var(--vz-primary);
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    padding: 20px;
}