:root {
    --vz-blue: #0d6efd;
    --vz-indigo: #6610f2;
    --vz-purple: #6f42c1;
    --vz-pink: #d63384;
    --vz-red: #dc3545;
    --vz-orange: #fd7e14;
    --vz-yellow: #ffc107;
    --vz-green: #198754;
    --vz-teal: #20c997;
    --vz-cyan: #0dcaf0;
    --vz-black: #000;
    --vz-white: #fff;
    --vz-gray: #6c757d;
    --vz-gray-dark: #343a40;
    --vz-gray-100: #f8f9fa;
    --vz-gray-200: #e9ecef;
    --vz-gray-300: #dee2e6;
    --vz-gray-400: #ced4da;
    --vz-gray-500: #adb5bd;
    --vz-gray-600: #6c757d;
    --vz-gray-700: #495057;
    --vz-gray-800: #343a40;
    --vz-gray-900: #212529;
    --vz-primary: #0d6efd;
    --vz-primary-hover: #0a58ca;
    --vz-secondary: #6c757d;
    --vz-success: #198754;
    --vz-info: #0dcaf0;
    --vz-warning: #ffc107;
    --vz-danger: #dc3545;
    --vz-light: #f8f9fa;
    --vz-dark: #212529;
    --vz-primary-rgb: 13, 110, 253;
    --vz-secondary-rgb: 108, 117, 125;
    --vz-success-rgb: 25, 135, 84;
    --vz-info-rgb: 13, 202, 240;
    --vz-warning-rgb: 255, 193, 7;
    --vz-danger-rgb: 220, 53, 69;
    --vz-light-rgb: 248, 249, 250;
    --vz-dark-rgb: 33, 37, 41;
    --vz-primary-text-emphasis: #052c65;
    --vz-secondary-text-emphasis: #2b2f32;
    --vz-success-text-emphasis: #0a3622;
    --vz-info-text-emphasis: #055160;
    --vz-warning-text-emphasis: #664d03;
    --vz-danger-text-emphasis: #58151c;
    --vz-light-text-emphasis: #495057;
    --vz-dark-text-emphasis: #495057;
    --vz-primary-bg-subtle: #cfe2ff;
    --vz-secondary-bg-subtle: #e2e3e5;
    --vz-success-bg-subtle: #d1e7dd;
    --vz-info-bg-subtle: #cff4fc;
    --vz-warning-bg-subtle: #fff3cd;
    --vz-danger-bg-subtle: #f8d7da;
    --vz-light-bg-subtle: #fcfcfd;
    --vz-dark-bg-subtle: #ced4da;
    --vz-primary-border-subtle: #9ec5fe;
    --vz-secondary-border-subtle: #c4c8cb;
    --vz-success-border-subtle: #a3cfbb;
    --vz-info-border-subtle: #9eeaf9;
    --vz-warning-border-subtle: #ffe69c;
    --vz-danger-border-subtle: #f1aeb5;
    --vz-light-border-subtle: #e9ecef;
    --vz-dark-border-subtle: #adb5bd;
    --vz-white-rgb: 255, 255, 255;
    --vz-black-rgb: 0, 0, 0;
    --vz-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --vz-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --vz-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --vz-body-font-family: var(--vz-font-sans-serif);
    --vz-text-muted:#8b96ad;
    --vz-body-font-size: 1rem;
    --vz-body-font-weight: 400;
    --vz-body-line-height: 1.5;
    --vz-white-color: #212529;
    --vz-white-color-rgb: 33, 37, 41;
    --vz-white-bg: #fff;
    --vz-white-bg-rgb: 255, 255, 255;
    --vz-emphasis-color: #000;
    --vz-emphasis-color-rgb: 0, 0, 0;
    --vz-secondary-color: rgba(33, 37, 41, 0.75);
    --vz-secondary-color-rgb: 33, 37, 41;
    --vz-secondary-bg: #e9ecef;
    --vz-secondary-bg-rgb: 233, 236, 239;
    --vz-tertiary-color: rgba(33, 37, 41, 0.5);
    --vz-tertiary-color-rgb: 33, 37, 41;
    --vz-tertiary-bg: #f8f9fa;
    --vz-tertiary-bg-rgb: 248, 249, 250;
    --vz-heading-color: inherit;
    --vz-link-color: #0d6efd;
    --vz-link-color-rgb: 13, 110, 253;
    --vz-link-decoration: underline;
    --vz-link-hover-color: #0a58ca;
    --vz-link-hover-color-rgb: 10, 88, 202;
    --vz-code-color: #d63384;
    --vz-highlight-color: #212529;
    --vz-highlight-bg: #fff3cd;
    --vz-border-width: 1px;
    --vz-border-style: solid;
    --vz-border-color: #dee2e6;
    --vz-border-color-translucent: rgba(0, 0, 0, 0.175);
    --vz-border-radius: 0.375rem;
    --vz-border-radius-sm: 0.25rem;
    --vz-border-radius-lg: 0.5rem;
    --vz-border-radius-xl: 1rem;
    --vz-border-radius-xxl: 2rem;
    --vz-border-radius-2xl: var(--vz-border-radius-xxl);
    --vz-border-radius-pill: 50rem;
    --vz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --vz-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --vz-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --vz-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --vz-focus-ring-width: 0.25rem;
    --vz-focus-ring-opacity: 0.25;
    --vz-focus-ring-color: rgba(13, 110, 253, 0.25);
    --vz-form-valid-color: #198754;
    --vz-form-valid-border-color: #198754;
    --vz-form-invalid-color: #dc3545;
    --vz-form-invalid-border-color: #dc3545;
    --vz-dark-color: #dee2e6;
    --vz-dark-color-rgb: 222, 226, 230;
    --vz-dark-bg: #080808;
    --vz-dark-bg-rgb: 33, 37, 41;
    --vz-emphasis-color: #fff;
    --vz-emphasis-color-rgb: 255, 255, 255;
    --vz-secondary-color: rgba(222, 226, 230, 0.75);
    --vz-secondary-color-rgb: 222, 226, 230;
    --vz-secondary-bg: #343a40;
    --vz-secondary-bg-rgb: 52, 58, 64;
    --vz-tertiary-color: rgba(222, 226, 230, 0.5);
    --vz-tertiary-color-rgb: 222, 226, 230;
    --vz-tertiary-bg: #2b3035;
    --vz-tertiary-bg-rgb: 43, 48, 53;
    --vz-primary-text-emphasis: #6ea8fe;
    --vz-secondary-text-emphasis: #a7acb1;
    --vz-success-text-emphasis: #75b798;
    --vz-info-text-emphasis: #6edff6;
    --vz-warning-text-emphasis: #ffda6a;
    --vz-danger-text-emphasis: #ea868f;
    --vz-light-text-emphasis: #f8f9fa;
    --vz-dark-text-emphasis: #dee2e6;
    --vz-primary-bg-subtle: #031633;
    --vz-secondary-bg-subtle: #161719;
    --vz-success-bg-subtle: #051b11;
    --vz-info-bg-subtle: #032830;
    --vz-warning-bg-subtle: #332701;
    --vz-danger-bg-subtle: #2c0b0e;
    --vz-light-bg-subtle: #343a40;
    --vz-dark-bg-subtle: #1a1d20;
    --vz-primary-border-subtle: #084298;
    --vz-secondary-border-subtle: #41464b;
    --vz-success-border-subtle: #0f5132;
    --vz-info-border-subtle: #087990;
    --vz-warning-border-subtle: #997404;
    --vz-danger-border-subtle: #842029;
    --vz-light-border-subtle: #495057;
    --vz-dark-border-subtle: #343a40;
    --vz-heading-color: inherit;
    --vz-link-color: #6ea8fe;
    --vz-link-hover-color: #8bb9fe;
    --vz-link-color-rgb: 110, 168, 254;
    --vz-link-hover-color-rgb: 139, 185, 254;
    --vz-code-color: #e685b5;
    --vz-highlight-color: #dee2e6;
    --vz-highlight-bg: #664d03;
    --vz-border-color: #495057;
    --vz-border-color-translucent: rgba(255, 255, 255, 0.15);
    --vz-form-valid-color: #75b798;
    --vz-form-valid-border-color: #75b798;
    --vz-form-invalid-color: #ea868f;
    --vz-form-invalid-border-color: #ea868f
}