@import url(./root.css);
@import url(./components/navbar.css);
@import url(./components/hero.css);
@import url(./components/search.css);
@import url(./components/join.css);

*,
::after,
::before {
    box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: var(--vz-body-font-family);
    font-size: var(--vz-body-font-size);
    font-weight: var(--vz-body-font-weight);
    line-height: var(--vz-body-line-height);
    color: var(--vz-white-color);
    text-align: var(--vz-body-text-align);
    background-color: var(--vz-white-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--vz-dark-bg);
        color: var(--vz-dark-color);
    }
}

a {
    text-decoration: none;
}